@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap');
body{
    font-family: 'Reem Kufi Fun', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#ffff;
}
nav {
    height: 5rem;
    width: auto;
    background-color: #0B1832;
    position: relative; 
}

.lt {
    position: absolute; 
    top: 1.9rem; 
    left: 0; 
    justify-content: center;
}

.lt a{
    color: aliceblue;
    text-decoration: none;
    justify-content: space-around;
    color:white;
    margin-left: 2rem;
}

.logo {
    position: absolute;
    left: 34%;
    transform: scale(0.25); 
    overflow-y: hidden;
    top:-14.6rem;
    
   
}


.bag{
    transform: scale(1.2); 
}

.st{
    transform: scale(1.2); 
}
.rt{
    position: absolute; 
    top: 1.9rem; 
    right: 1%; 
}
.rt i{
    margin-right: 1.3rem;
}

.b1{
    height:40rem;
    width: auto;
}

.butb1{
  position: absolute;
  background-color:  #0B1832;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 1rem;
  margin: 1.9rem 26rem;
  cursor: pointer;
  border-radius: 10px;
  height: 4rem;
  width: 16rem;
}

